.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 40vmax;
    justify-content: center;
    background-color: blueviolet;
    color: white;
}
.banner::after{
    content: "";
    clip-path: polygon(100% 77%, 0% 100%, 100% 100%);
    width: 100%;
    height: 40vmax;
    background-color: white;
    top: 0px;
    left: 0px;
    position: absolute;
}

.banner > p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    text-align: center;
    font-size: 30px;

}

.banner > h1{
    text-align: center;
    font-size: 48px;
    text-shadow: 2px 2px #360394;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
} 

.banner>a>button{
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
    width: 9vmax;
    margin-bottom: 3px;
    padding: 1vmax;
    font-size: 20px;
    color: black;
    text-align: center;

}
.banner>a>button:hover{
    background-color: blueviolet;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    width: 9vmax;
    margin-bottom: 3px;
    padding: 1vmax;
    font-size: 20px;
    text-align: center;

}
.homeheading{
    font-family: 'Roboto';
    text-align: center;
    justify-content: center;
    width: 400px;
    
    color: rgba(25, 24, 24, 0.8);
    border-bottom: 1px solid rgba(25, 24, 24, 0.8);
    margin: 5vmax auto;
    font-size: 35px;
}
.container1{
    
    display: flex;
    flex-wrap: wrap;
    margin: 0.5vmax auto;
    width: 80vmax;
    justify-content: center;
    max-width: 100%;
}
@media (max-width: 480px) {
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 40vmax;
        justify-content: center;
        background-color: blueviolet;
        color: white;
    }
    
    .banner::after{
        content: "";
        clip-path: polygon(100% 77%, 0% 100%, 100% 100%);
        width: 100%;
        height: 40vmax;
        background-color: white;
        top: 0px;
        left: 0px;
        position: absolute;
    }
    .banner > p{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        text-align: center;
        font-size: 15px;
    
    }
    
    .banner > h1{
        text-align: center;
        font-size: 20px;
        text-shadow: 1px 1px #360394;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 10px;
    } 
    
    .banner>a>button{
        background-color: white;
        border: 1px solid white;
        cursor: pointer;
        width: 7vmax;
        margin-bottom: 5px;
        padding: 1vmax;
        font-size: 10px;
        text-align: center;
    
    }
}

@media (max-width: 768px) {
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 40vmax;
        justify-content: center;
        background-color: blueviolet;
        color: white;
    }
    .banner::after{
        content: "";
        clip-path: polygon(100% 77%, 0% 100%, 100% 100%);
        width: 100%;
        height: 40vmax;
        background-color: white;
        top: 0px;
        left: 0px;
        position: absolute;
    }
    .banner > p{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        text-align: center;
        font-size: 23px;
    
    }
    
    .banner > h1{
        text-align: center;
        font-size: 25px;
        text-shadow: 1px 1px #360394;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 10px;
    } 
    .container1{
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5vmax;
        align-items: center;
        justify-content: center;
    }
    .banner>a>button{
        display: none;
        background-color: white;
        border: 1px solid white;
        cursor: pointer;
        width: 7vmax;
        margin-bottom: 4px;
        padding: 1vmax;
        font-size: 10px;
        text-align: center;
    
    }
}

